<a href="https://colab.research.google.com/github/RAJSEKRDY/Python_Mav/blob/main/Rajsekrdy_Assign.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**M1A01/A02/AO3**

**M1A01**_Problem statement 01

**1.For each multiple of 3,print 'Fizz'**

In [ ]:
number = int(input("Enter an integer: "))

for i in range(1, number+1):
    if i % 3 == 0:
        print("Fizz")
    else:
        print(i)

Enter an integer: 10
1
2
Fizz
4
5
Fizz
7
8
Fizz
10

**2.For each multiple of 5,print ‘Fuzz’**

In [ ]:
number = int(input("Enter an integer: "))

for i in range(1, number+1):
    if i % 5 == 0:
        print("Fuzz")
    else:
        print(i)

Enter an integer: 10
1
2
3
4
Fuzz
6
7
8
9
Fuzz

**3. For each multiple of 3 and 5 print ‘Fizz Buzz’**

In [ ]:
number = int(input("Enter an integer: "))

for i in range(1, number+1):
    if i % 3 == 0 and i % 5 == 0:
        print("Fizz Buzz")
    elif i % 3 == 0:
        print("Fizz")
    elif i % 5 == 0:
        print("Buzz")
    else:
        print(i)

Enter an integer: 15
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
Fizz Buzz

**M1A02**_Problem statement 02

In [ ]:
log = input("Enter transaction log: ")
transactions = log.split()

balance = 0

for transaction in transactions:
    if transaction[0] == 'D':
        balance += int(transaction[2:])
    elif transaction[0] == 'W':
        balance -= int(transaction[2:])

print("Net amount:", balance)

Enter transaction log: D:100 W:10
Net amount: 90

In [ ]:
log = input("Enter transaction log: ")
transactions = log.split()

balance = 0

for transaction in transactions:
    if transaction[0] == 'D':
        balance += int(transaction[2:])
    elif transaction[0] == 'W':
        balance -= int(transaction[2:])

print("Net amount:", balance)

Enter transaction log: D:100 W:200 D:400
Net amount: 300

**M1A03**_Problem statement 03

In [ ]:
num_calls = int(input("Enter the number of calls: "))

if num_calls <= 100:
    monthly_bill = 200
elif num_calls <= 150:
    monthly_bill = 200 + 0.60 * (num_calls - 100)
elif num_calls <= 200:
    monthly_bill = 200 + 0.60 * 50 + 0.50 * (num_calls - 150)
else:
    monthly_bill = 200 + 0.60 * 50 + 0.50 * 50 + 0.40 * (num_calls - 200)

print("Monthly telephone bill: Rs.", monthly_bill)

Enter the number of calls: 75
Monthly telephone bill: Rs. 200

In [ ]:
num_calls = int(input("Enter the number of calls: "))

if num_calls <= 100:
    monthly_bill = 200
elif num_calls <= 150:
    monthly_bill = 200 + 0.60 * (num_calls - 100)
elif num_calls <= 200:
    monthly_bill = 200 + 0.60 * 50 + 0.50 * (num_calls - 150)
else:
    monthly_bill = 200 + 0.60 * 50 + 0.50 * 50 + 0.40 * (num_calls - 200)

print("Monthly telephone bill: Rs.", monthly_bill)

Enter the number of calls: 180
Monthly telephone bill: Rs. 245.0